#!/usr/bin/env bash

###### ZFS snapshot management script - Samba vfs_object previous versions friendly
###### (L) 2010-2016 by Orsiris de Jong (www.netpower.fr)
###### Config file rev 2016031501

## Name of the zfs dataset you want snapshots to be created on
ZFS_VOLUME=storage/dataset

DAYS_TO_KEEP=
WEEKLY_TO_KEEP=
MONTHLY_TO_KEEP=
YEARLY_TO_KEEP=






## Minimum number of snapshots to keep
MIN_SNAPSHOTS=60
## Maximum number of snapshots to keep
MAX_SNAPSHOTS=365
## Delete snapshots if MAX_SPACE % disk usage is full. Will delete until less disk is used or MIN_SNAPSHOTS snapshots exist.
MAX_SPACE=90

## Use UTC time format. Will make windows previous versions show right time, but snapshot names will not have local time in name.
USE_UTC=yes

## Usage shadowcopy2 vfs object (do not mount snapshots)
USE_SHADOW_COPY2=no

## Alert email address, space separated list
DESTINATION_MAILS="infrastructure@example.com"
